#google{
    color: red;
    background-color: aqua;
}
.para{
    color: purple;
    font-size: 30px;
    font-family: Arial;
    font-weight: 800;
}
button{
    background-color: red;
}
















